<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="EcoSwap - Aplikasi Penukaran Sampah Online">
  <link opacity-80 transition duration-200 hover:opacity-100 rel="icon" href="./favicon.png">
  <link opacity-80 transition duration-200 hover:opacity-100 rel="stylesheet" href="../styles/output.css">

  <title>EcoSwap</title>
</head>

<body>
  <header>
    <a href="#mainContent" class="skip-link opacity-80 transition duration-200 hover:opacity-100 hidden">Skip to main
      content</a>
    <nav id="drawer"
      class="bg-slate-300 w-full h-16 flex flex-row fixed bottom-0 z-50 gap-4 justify-between items-center px-5 shadow shadow-yellow-400 sm:top-0">
      <div id="nav-icon" class="nav-icon hidden sm:block">
        <p>EcoSwap</p>
      </div>

      <!-- <ul class="flex flex-row gap-2">
          <li><a href="/#">Beranda</a></li>
          <li><a href="#">Aktivitas</a></li>
          <li><a href="">Notifikasi</a></li>
          <li><a href="">Akun</a></li>
        </ul> -->

      <ul class="nav-list flex justify-around flex-row gap-3 w-full sm:w-2/4">
        <li class="nav-item h-16 flex justify-center items-center">
          <a href="#" class="nav-link opacity-80 transition duration-200 hover:opacity-100">
            <img src="../public/icons/home.png" alt="" class="block w-7 sm:hidden">
            <span class="nav-text font-bold">Beranda</span>
          </a>
        </li>
        <li class="nav-item h-16 flex justify-center items-center">
          <a href="#" class="nav-link opacity-80 transition duration-200 hover:opacity-100">
            <img src="../public/icons/activity.png" alt="" class="block w-7 sm:hidden">
            <span class="nav-text font-bold">Aktivitas</span>
          </a>
        </li>
        <li class="nav-item h-16 flex justify-center items-center">
          <a href="#" class="nav-link opacity-80 transition duration-200 hover:opacity-100">
            <img src="../public/icons/notification.png" alt="" class="block w-7 sm:hidden">
            <span class="nav-text font-bold">Notifikasi</span>
          </a>
        </li>
        <li class="nav-item h-16 flex justify-center items-center">
          <a href="#" class="nav-link opacity-80 transition duration-200 hover:opacity-100">
            <img src="../public/icons/account.png" alt="" class="block w-7 sm:hidden">
            <span class="nav-text font-bold">Akun</span>
          </a>
        </li>
      </ul>

    </nav>
  </header>
  <main>
    <div class="container relative w-full">
      <div class="background w-full h-96 bg-primary rounded-b-3xl">
        <div class="container-info w-full p-4 flex flex-row justify-between items-center">
          <p class="logo text-white font-bold text-2xl">
            ECO<br>
            <span class="italic">SWAP</span>
          </p>
          <div class="user text-white">
            <p class="italic text-xl">
              Selamat datang,<br>
              <span class="not-italic font-bold">ASEP SUGENG RIYADI</span>
            </p>
          </div>
        </div>
      </div>

      <div
        class="tabungan w-11/12 h-52 bg-secondary absolute top-64 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-3xl py-3 px-4">
        <p class="font-semibold text-xl">Tabungan yang anda miliki</p>
        <p class="font-bold text-4xl mt-3 mb-5">Rp.5000,00,-</p>
        <hr class="border-t-2 border-third">
        <p class="font-medium mt-4 text-xl">Lihat semua transaksi</p>
      </div>

      <div class="menus w-11/12 h-32 bg-primary absolute rounded-2xl top-96 left-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-evenly items-center">
        <div class="menu w-28 h-28 bg-secondary rounded-2xl">
          <p>Penjemputan</p>
        </div>
        <div class="menu w-28 h-28 bg-secondary rounded-2xl">
          <p>Pengaduan</p>
        </div>
        <div class="menu w-28 h-28 bg-secondary rounded-2xl">
          <p>Tukar Point</p>
        </div>
      </div>
    </div>
  </main>
  <footer>

  </footer>
</body>

</html>