<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="EcoSwap - Aplikasi Penukaran Sampah Online">
  <link rel="icon" href="./Logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
  <title>EcoSwap</title>
</head>

<body>

  <header>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm px-2 fixed-top z-3">
      <div class="container-fluid">
        <a class="navbar-brand fw-semibold fst-italic fs-4" href="#">
          <img src="./icons/Logo.png" alt="Logo" width="36" height="36" class="d-inline-block align-text-top me-1">
          EcoSwap
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link fs-6 fw-semibold me-2 active" aria-current="page" href="#">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-6 fw-semibold me-2" href="#">Tentang EcoSwap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-6 fw-semibold me-2" href="#">Kontak Kami</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link fs-6 fw-semibold me-2 dropdown-toggle bg-light text-success rounded px-4 py-2" href="#"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item fw-semibold" href="#">Admin</a></li>
                <li><a class="dropdown-item fw-semibold" href="#">Pengguna</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Jumbotron Start -->
    <section class="heading container-lg position-relative">
      <div class="jumbotron">
        <div class="container-fluid px-3">
          <h1 class="display-4 fw-semibold">Selamat Datang Di Ecoswap</h1>
          <h2 class="display-7 fw-medium">Sebuah Platfrom Daur Ulang Dari Rakyat Untuk Rakyat</h2>
          <a href="signUp.html" class="btn btn-outline-success mt-2 btn-lg">Daftar disini</a>
        </div>
      </div>

      <div class="row justify-content-center w-full px-3 position-absolute start-0 mt-2" style="top: 69%;">
        <div class="col-12 col-md-6 col-lg col-xl mb-3" style="min-width: 310px;">
          <div class="card bg-success text-light w-full p-2">
            <div class="card-body">
              <h3 class="card-title fw-semibold">Kenapa memilih EcoSwap</h3>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, neque quidem culpa ex
                in tempora necessitatibus quae autem repudiandae eligendi quibusdam facilis ducimus</p>
              <a href="#" class="btn btn-outline-light btn-sm">Pelajari selengkapnya</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg col-xl mb-3 justify-content-center align-self-end">
          <div class="card bg-success text-light text-center" style="min-width: 260px;">
            <div class="card-body">
              <img src="./icons/penjemputan-icon.png" class="card-img-top mx-auto" alt="Icon penjemputan"
                style="width: 150px;">
              <div class="card-body text-center fw-semibold fs-3">
                <p class="card-text text-light">Penjemputan</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg col-xl mb-3 justify-content-center align-self-end">
          <div class="card bg-success text-light text-center" style="min-width: 260px;">
            <div class="card-body">
              <img src="./icons/pengaduan-icon.png" class="card-img-top mx-auto" alt="Icon penjemputan"
                style="width: 150px;">
              <div class="card-body text-center fw-semibold fs-3">
                <p class="card-text text-light">Pengaduan</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg col-xl mb-3 justify-content-center align-self-end">
          <div class="card bg-success text-light text-center" style="min-width: 260px;">
            <div class="card-body">
              <img src="./icons/tukar-poin-icon.png" class="card-img-top mx-auto" alt="Icon penjemputan"
                style="width: 150px;">
              <div class="card-body text-center fw-semibold fs-3">
                <p class="card-text text-light">Tukar Poin</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Jumbotron End -->
  </header>

  <main class="container-md">
    
  </main>
  
</body>

</html>