// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
    font-family: 'Noto Sans', sans-serif;
}

.jumbotron {
    background-image: url('../images/14.jpg');
    background-position-y: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ddd;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}