// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
    font-family: 'Noto Sans', sans-serif;
}

.jumbotron {
    background-image: url('../public/images/14.jpg');
    background-position-y: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ddd;
    height: 420px;
    display: flex;
    align-items: end;
}

// .container-card {
//     top: 500px;
//     height: 300px;
// }